@mixin styleText($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin styleImage($width, $height) {
    width: $width;
    height: $height;
}

@mixin responsive($screen){
    @if(map-has-key($map: $breakpoints, $key: $screen)){
        $value : map-get($map: $breakpoints, $key: $screen);
        @media Screen and (max-width : $value){
            @content;
        }
    }@else{
        @error 'Screen does not exist';
    }
}
